<a href="https://colab.research.google.com/github/sipocz/Colab/blob/main/Day1_Task_handout_SL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python functions, objects and classes

## Task 1
Please use the function defined below to print out the text "Hello my friend"!

In [3]:
#define a function named hello, that accepts a named parameter "who" and prints 
#out "Hello" and the incoming string concateneted

def hello(who):
    print("hello "+who)

In [2]:
hello("my friend")

hellomy friend

## Task 2

In [5]:
class AbstractShape:
    """A class representing planar figures.
    """
    
    def __init__(self, centerx, centery, color="black"):
        """Initialize a shape.
        
        Args:
            centerx: The x coordinate of the shape's center.
            centery: The y coordinate of the shape's center.
            color (str): The shape's color.
        """
        self.centerx = centerx
        self.centery = centery
        self.color = color
        
    def move_by(self, dx, dy):
        """Move the shape by the given distances.
        
        Args:
            dx: Movement along the x axis.
            dy: Movement along the y axis.
            
        Returns:
            None
        """
        self.centerx += dx
        self.centery += dy
        
    def area(self):
        """Return the area of the shape
        """
        
        raise NotImplementedError # Raise an exception if a class simply inherits without implementing

In [45]:
# Define a Circle class that inherits form AbstractShape
# Accepts more parameters for radius
# implement the "area" function, that calculates the area of the circle
# use the math library imported blow

from math import pi # We will need pi for calculating the area

class Circle(AbstractShape):
    """A class representing a circle.    
    """
    
    def __init__(self, centerx, centery, radius, color="black"):
                 # You have to correct the init here!
        self.centerx = centerx
        self.centery = centery
        self.color = color
        self.radius=radius
        self.areat=self.radius**2*pi/4
                 
                 
                 
    #The function area needs to be implemented here
                 
    
    # This is an additional property of the class, illustrating the usage of decorators in Python
    # https://realpython.com/primer-on-python-decorators/
    # Property is a special type of decorator
    # https://www.programiz.com/python-programming/property
    @property  # ENNEK UTÁNA NÉZNI !!!!
    def diameter(self):
        """Return the circle's diameter.
        """
        return 2 * self.radius
        self.area()
                 
    #Setter is another tpye of reserved property
    # https://www.python-course.eu/python3_properties.php
    @diameter.setter
    def diameter(self, diameter):
        """Set the diameter to the givem size.
        """
        self.radius = diameter / 2
        self.area()
    
    #Repr is a default function that implements the pronted representation of the class
    def __repr__(self):
        """Return the string representation of the circle.
        """
        return f"Circle({self.centerx}, {self.centery}, {self.radius}, '{self.color}')"
    def area(self):
        self.areat=self.radius**2*pi/4
        return(self.areat)

In [39]:
# ok, we also need the square root function, import it here please 
from math import sqrt

# Implement the rectangle class, which acts as name implies
# it has an area function as well, but naturally for a rectangle
# it has widht and heights parameters in _init_, as well as the defualt ones
class Rectangle(AbstractShape):
    """A class representing a rectangle.
    
    The sides are assumed to be parallel with the X and Y axis.
    """
    
    def __init__(self, centerx, centery, width,height, color="black"):
                 #Implement the __init__ here
        self.centerx = centerx
        self.centery = centery
        self.width=width
        self.height=height
        self.color=color
        self.diagonal=sqrt(self.width**2 + self.height**2)

    def area(self):
        return self.width * self.height
    
    
    #implement the diagonal property of the class here
    def diagonal(self):
        
        return self.diagonal
    
    
    def __repr__(self):
        """Return the string representation of the rectangle.
        """
        # Implement a nice printout here
        return f"Rechtangle({self.centerx}, {self.centery}, {self.width},{self.height},Area:{self.area()} Color:'{self.color}')"

In [40]:
r = Rectangle(0, 0, 4, 3)
r

Rechtangle(0, 0, 4,3,Area:12 Color:'black')

In [41]:
r.diagonal

5.0

In [46]:
r.area()

12

In [47]:
r.move_by(1,1)
r

Rechtangle(2, 2, 4,3,Area:12 Color:'black')

In [48]:
c = Circle(0,0,3, "red")
print(c)
c.area()

Circle(0, 0, 3, 'red')

7.0685834705770345

In [49]:
c.diameter = 20
c

Circle(0, 0, 10.0, 'red')

# Pandas basics

## Reading the data

The dataset we will be using contains data about [Abalone shells](https://en.wikipedia.org/wiki/Abalone). (With some noise graciously added by us :-P

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Haliotis_clathrata_01.JPG/367px-Haliotis_clathrata_01.JPG">

In [51]:
!wget https://gitlab.com/andras.simonyi/10_days_AI_training_data/raw/master/abalone.csv?inline=false -O abalone.csv

--2020-10-22 15:27:25--  https://gitlab.com/andras.simonyi/10_days_AI_training_data/raw/master/abalone.csv?inline=false
Resolving gitlab.com (gitlab.com)... 172.65.251.78, 2606:4700:90:0:f22e:fbec:5bed:a9b9
Connecting to gitlab.com (gitlab.com)|172.65.251.78|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/plain]
Saving to: ‘abalone.csv’

abalone.csv             [  <=>               ] 195.60K   612KB/s    in 0.3s

2020-10-22 15:27:26 (612 KB/s) - ‘abalone.csv’ saved [200291]


The data is in the file "abalone.csv".

**General info**

>Predicting the age of abalone from physical measurements.  The age of
   abalone is determined by cutting the shell through the cone, staining it,
   and counting the number of rings through a microscope -- a boring and
   time-consuming task.  Other measurements, which are easier to obtain, are
   used to predict the age.  Further information, such as weather patterns
   and location (hence food availability) may be required to solve the problem.
   From the original data examples with missing values were removed (the
   majority having the predicted value missing), and the ranges of the
   continuous values have been scaled for use with an ANN (by dividing by 200).


**Field info**

>Sex / nominal / -- / M, F, and I (infant)

> Length / continuous / mm / Longest shell measurement

> Diameter / continuous / mm / perpendicular to length

> Height / continuous / mm / with meat in shell
> Whole weight / continuous / grams / whole abalone

> Shucked weight / continuous / grams / weight of meat

> Viscera weight / continuous / grams / gut weight

> Shell weight / continuous / grams / after being dried

> Rings / integer / -- / +1.5 gives the age in years

In [105]:
import pandas as pd

# implement the "abalone.csv" file using Pandas's read_csv function
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html
# bear in mind, the the format of the csv _can be different_ from default
# when in doubt, you can use the head shell command with the ! syntax
# https://ss64.com/bash/head.html
# Or the Colab file viewer

df =pd.read_csv("abalone.csv",";")

df.head()

  Sex Length Diameter Height  ... Shucked weight Viscera weight Shell weight Rings
0   M  0,455    0,365  0,095  ...         0,2245          0,101         0,15  15,0
1   M   0,35    0,265   0,09  ...         0,0995         0,0485         0,07   7,0
2   F   0,53     0,42  0,135  ...         0,2565         0,1415         0,21   9,0
3   M   0,44    0,365    NaN  ...         0,2155          0,114        0,155  10,0
4   I   0,33    0,255   0,08  ...         0,0895         0,0395        0,055   7,0

[5 rows x 9 columns]

In [84]:
# We assert the fact that the shape of the DataFrame is appropriate
# If this expression evalueates to false, it throws an exception
assert df.shape==(4177, 9)

df.shape

(4177, 9)

## Fixing the column names

Fix the column names to be able to use "dot syntax" for columns.

In [108]:
def normalize_columnname(h):
    """Normalize a column name by downcasing and replacing spaces with '_'.
    """
   # Implement the column name normalizer
   # use the default Python string functions
   # https://docs.python.org/2/library/string.html
    if h==None:
        return("ssz")
    a=""
    print(h)
    a.join(i.lower() for i in h)
    a.replace(" ","_")
    print(a)
    yield a
    

        


df.rename(columns=normalize_columnname, inplace=True)
#df.rename(columns=str.lower(), inplace=True)
df.head()

  <generator object normalize_columnname at 0x7fba051769e8>  ... <generator object normalize_columnname at 0x7fba05176728>
0                                                  M         ...                                               15,0
1                                                  M         ...                                                7,0
2                                                  F         ...                                                9,0
3                                                  M         ...                                               10,0
4                                                  I         ...                                                7,0

[5 rows x 9 columns]

In [91]:
df.whole_weight.head()

AttributeError: ignored

## Check and handle missing data

Check whether there are missing data.

In [ ]:
# look for missing values in the df
# use the isnull() function, and some counting method of Pandas df

Drop rows with NaN values.

In [ ]:
assert df.shape=(4177,9)

# Drop the rows with missing values from the df
# bear in mind the rerutn value syntax vs the parameter for executing the operation on the df itslef


# this is just additional "tidying"
df.reset_index(inplace=True, drop=True) # Reset index since dropped rows create "wholes"

assert df.shape=(4171,9)
df.shape

## Convert floats to int

In [ ]:
#convert the float value of the "rings" coluimn to an integer, since who saw any partial rings anyway? :-)

#And let's look at it
df.head()

## Descriptives

In [ ]:
df.describe()

In [ ]:
# Describe the "sex" column and look at the values

Find the index of the examples with the maximal and minimal values.

In [ ]:
# find the rows indeces with the largest values in them, from the "height" parameter onwards till the end
# bear in mind that multiple versions of "max" exist in Pandas
# and getting the location can be done also in multiple ways

In [ ]:
df.loc[1422]

## Standardization

In [ ]:
# we create a new df for the numeric values that we think need normalization 
df_numeric = df.loc[:,"length":"shell_weight"]
df_numeric.head()

In [ ]:
# Calculate the mean of the df_numeric in one go
# If done right, this will be a Pandas.Series obejct (a kind of vector) of means
mean = 

# Calculate the standard deviation of the df_numeric in one go
# If done right, this will be a Pandas.Series obejct (a kind of vector) of means
std = 

# Now we apply the two Series calculated for normalization in one go for the whole df 
df_numeric_std = (df_numeric - mean) / std
df_numeric_std.head()

In [ ]:
df_numeric_std.describe()

In [ ]:
df.loc[:,"length":"shell_weight"] = df_numeric_std
df.head()

In [ ]:
df.describe()

# Basic plotting

In [ ]:
df.length.plot.box(figsize=(8,8)); # the semicolon is to stop Jupyter from "printing" the figure as well
# This is a verbose syntax, the alternative is also viable: df.length.boxplot()

In [ ]:
# Do a histogram with 20 bins for the "length" data

In [ ]:
# implement a scatter plot between "length" and "rings", use figure size 8,8