<a href="https://colab.research.google.com/github/sipocz/Colab/blob/main/Segmind_grand_AI_challenge_starter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Segmind 2021 Grand AI Challenge ##

### Download the dataset ###

In [94]:
!wget https://dockship-public-assets.s3.ap-south-1.amazonaws.com/segmind_grand_ai_challenge_2021-dataset.zip

--2021-04-23 14:19:41--  https://dockship-public-assets.s3.ap-south-1.amazonaws.com/segmind_grand_ai_challenge_2021-dataset.zip
Resolving dockship-public-assets.s3.ap-south-1.amazonaws.com (dockship-public-assets.s3.ap-south-1.amazonaws.com)... 52.219.64.76
Connecting to dockship-public-assets.s3.ap-south-1.amazonaws.com (dockship-public-assets.s3.ap-south-1.amazonaws.com)|52.219.64.76|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6491390 (6.2M) [application/zip]
Saving to: ‘segmind_grand_ai_challenge_2021-dataset.zip.1’

segmind_grand_ai_ch 100%[===================>]   6.19M  3.40MB/s    in 1.8s

2021-04-23 14:19:44 (3.40 MB/s) - ‘segmind_grand_ai_challenge_2021-dataset.zip.1’ saved [6491390/6491390]

### Extract the dataset ###

In [95]:
import zipfile
with zipfile.ZipFile("segmind_grand_ai_challenge_2021-dataset.zip", 'r') as zip_ref:
    zip_ref.extractall()

In [96]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [97]:
import pandas as pd
df=pd.read_csv("./dataset/TRAIN.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning:

Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.

In [98]:
df.tail(3)

        Store  DayOfWeek        Date  ...  Promo  StateHoliday  SchoolHoliday
712043    344          2  2013-10-01  ...      0             0              1
712044    345          2  2013-10-01  ...      0             0              0
712045    346          2  2013-10-01  ...      0             0              0

[3 rows x 9 columns]

In [99]:
type(df["Date"][0])

str

In [100]:
df=df[df["Open"]==1 ]

In [101]:
a=set(df["StateHoliday"])

In [102]:
print(a)
df["a"]=0
df["b"]=0
df["c"]=0
df["zero"]=0

df["Day1"]=0
df["Day2"]=0
df["Day3"]=0
df["Day4"]=0
df["Day5"]=0
df["Day6"]=0
df["Day7"]=0







df["a"][df["StateHoliday"]=="a"]=1


df["b"][df["StateHoliday"]=="b"]=1

df["c"][df["StateHoliday"]=="c"]=1

df["zero"][df["StateHoliday"]=="0"]=1
df["zero"][df["StateHoliday"]==0]=1


df["Day1"][df["DayOfWeek"]==1]=1
df["Day2"][df["DayOfWeek"]==2]=1
df["Day3"][df["DayOfWeek"]==3]=1
df["Day4"][df["DayOfWeek"]==4]=1
df["Day5"][df["DayOfWeek"]==5]=1
df["Day6"][df["DayOfWeek"]==6]=1
df["Day7"][df["DayOfWeek"]==7]=1

maxi=max(list(df["Sales"]))

df["korr"]=df["Sales"]/maxi

{0, 'b', 'a', 'c', '0'}

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [103]:
testdf=pd.read_csv("./dataset/TEST.csv")

In [104]:
max(list(df["Sales"]))

41551

In [106]:
testdf[testdf["Store"]==1]

        Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
227         1          1  2013-02-04     1      1            0              0
444         1          3  2013-05-29     1      1            0              0
1191        1          1  2013-07-08     1      0            0              1
1619        1          4  2013-03-28     1      1            0              1
1933        1          4  2013-09-26     1      1            0              0
...       ...        ...         ...   ...    ...          ...            ...
297264      1          7  2013-03-10     0      0            0              0
298023      1          7  2013-01-20     0      0            0              0
299380      1          1  2013-04-15     1      0            0              0
300032      1          1  2013-09-30     1      0            0              0
302953      1          7  2013-04-21     0      0            0              0

[273 rows x 7 columns]

In [107]:
!rm visual_view.py
!wget https://raw.githubusercontent.com/sipocz/messer/main/visual_view.py

--2021-04-23 14:20:09--  https://raw.githubusercontent.com/sipocz/messer/main/visual_view.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1027 (1.0K) [text/plain]
Saving to: ‘visual_view.py’

visual_view.py      100%[===================>]   1.00K  --.-KB/s    in 0s

2021-04-23 14:20:09 (71.1 MB/s) - ‘visual_view.py’ saved [1027/1027]

In [108]:
grafikon=None
from visual_view import grafikon
help(grafikon)

Help on function grafikon in module visual_view:

grafikon(fx, desc1, txt1, desc2='', txt2='', ngraf=2, c1='rgba(35,128,132,0.8)', c2='rgba(193,99,99,0.8)', title=None)
    fx: dataFrame
    desc1:column1
    txt1: label1
    desc2:column2
    txt2: label2
    ngraf: number of graph
    c1: color1
    c2: color2
    title: graph title

In [109]:

from tensorflow.keras.layers import InputLayer, Dense, LSTM, Input, Dropout
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.optimizers import SGD,Adam,Adamax,Nadam,Ftrl,Adadelta
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.backend import clear_session
from tensorflow.keras.losses import mean_absolute_percentage_error

In [110]:
prediktorok=["Promo","SchoolHoliday","a","b","c","zero","Day1","Day2","Day3","Day4","Day5","Day6","Day7",]
store=3
X_NN=df[df["Store"]<2 ][prediktorok]
y_NN=df[df["Store"]<2 ]["korr"]

711700    2013-10-01
Name: Date, dtype: object

In [ ]:
clear_session()



input_size=13
drop_frac0=0.3  
drop_frac1=0.3  

input1=Input(shape=(input_size,))
l1_out=Dense(9600,activation="swish",)(input1) # 
l2_out=Dropout(drop_frac0)(l1_out)


l3_out=Dense(9000,activation="linear",)(l2_out)
l4_out=Dropout(drop_frac1)(l3_out)

pred=Dense(1,activation="linear")(l4_out)

model = Model(inputs=input1, outputs=pred)
optimizer=SGD(learning_rate=0.00005,) #

model.compile(loss='mae',
    optimizer=optimizer,
    metrics=["mae"])

In [ ]:
 history = model.fit(X_NN, y_NN, epochs=50, batch_size=3, validation_split = 0.2,
                    
                   verbose=1)

In [ ]:
datag=pd.DataFrame()
y_pred=model.predict(X_NN)

In [ ]:
datag["pred"]=list(y_pred.T[0])
datag["y"]=list(y_NN)

In [ ]:
grafikon(datag,"pred","pred","y","y")